body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-repeat: no-repeat;
}

.developer-image{
    background-image: url("/resource/top-banner.png");
    background-repeat: no-repeat;
}

h1{
    font-size: 45px;
    margin: 0px;
}

.text-highlight{
    color: orange;
}

.introduction{
    width: 50%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    padding-left: 6.5%;
    padding-top: 5%;
    padding-right: 5%;
}

.profile-pic{
    margin-left: 12%;
    margin-top: -2%;
    width: 50%;
    justify-content: end;
}

h2{
    margin: 0px;
}

h3{
    margin-top: 25px;
    font-size: 25px;
}

p{
    margin: 0px;
}

.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.link-btn:hover{
    background-image: #FF3E8A;
    box-shadow: 10px 20px 30px lightsalmon;
    color: #fff;
    transform: translateY(-7px);
    transition: all .8s ease 0s;

}

.hire-btn{
    margin-top: 35px;
}

.secound-intro{
    margin-left: 10%;
}

.container2{
    background-image: url("/resource/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 240px;
}

.exp{
    padding-left: 6.5%;
    padding-top: 5%;
    padding-right: 5%;
}

.card{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    padding: 2.5%;
}

.container3{
    justify-content: center;
    padding-top: 3.5%;
    background-image: url("resource/exp-bg.png");
    background-position-y: 35%;
    background-position-x: -0.5%;
    background-repeat: no-repeat;
}

.full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

.baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #7C31D7, #FF257A) ;
    border-image-slice: 1;
}

footer{
    text-align: center;
    margin-top: 5%;
    background-image: linear-gradient(80deg, #7C31D7,tomato,lightsalmon, #FF257A, lightsalmon) ;
    padding: 2%;
}
