body{
    font-family: 'Poppins', sans-serif;
    margin: 7%;
    background-image: url("/resource/top-banner.png");
    background-repeat: no-repeat;
}

h1{
    font-size: 45px;
    margin: 0px;
}

.text-highlight{
    color: orange;
}

.introduction{
    width: 50%;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.profile-pic{
    margin-left: 13%;
    margin-top: 1%;
}

h3{
    margin-top: 25px;
    font-size: 25px;
}

p{
    margin: 0px;
}

.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.link-btn:hover{
    background-image: #FF3E8A;
    box-shadow: 10px 20px 30px lightsalmon;
    color: #fff;
    transform: translateY(-7px);
    transition: all .8s ease 0s;

}

.hire-btn{
    margin-top: 35px;
}